<div class="section">
    <div class="container">
    	<div class="row">
            <!-- Pequeña presentación -->
    		<div class="col-md-4 first">
    		    <div class="promote">
            	    <h2 class="text-center h2">
                        <span>
                            Banda de música indie<br/>
                            Tarjetas de perfiles
                        </span>
                    </h2>
                    <h3>
                        Creado con ♥<br/>
                        Cuenta fandom de:<br/>
                        <a href="https://www.twentyonepilots.com/" target="_blank">twentyonepilots.com</a>
                    </h3>
                </div>
		    </div>
            
            <!-- Pequeñas presentaciones de TOP -->
            <!-- Tyler Joseph -->
    		<div class="col-md-4">
    		    <div class="card profile-card-2">
                    <div class="card-img-block">
                        <img class="img-fluid" src="../../../assets/imágenes/card.1.jpg" alt="Card image"/>
                    </div>
                    <div class="card-body pt-5">
                        <img src="../../../assets/imágenes/Tyler-Joseph-icon.jpg" alt="Tyler Joseph" class="profile"/>
                        <h5 class="card-title">Tyler Joseph</h5>
                        <p class="card-text">Cantautor</p>
                        <p>
                            Tyler Robert Joseph.<br/>
                            1 de diciembre de 1988 (33 años).<br/>
                            Columbus, Ohio, Estados Unidos.<br/>
                            Cantante, rapero, músico y compositor.<br/>
                            Vocalista de twenty one pilots.
                        </p>
                        <div class="icon-block"><a href="https://twitter.com/tylerrjoseph"> <i class="fa fa-twitter"></i></a><a href="https://www.instagram.com/tylerrjoseph/"> <i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
    		</div>

            <!-- Joshua Dun -->
    		<div class="col-md-4">
    		    <div class="card profile-card-2">
                    <div class="card-img-block">
                        <img class="img-fluid" src="../../../assets/imágenes/card.1.jpg" alt="Card image"/>
                    </div>
                    <div class="card-body pt-5">
                        <img src="../../../assets/imágenes/Josh-Dun-icon.jpg" alt="Josh Dun" class="profile"/>
                        <h5 class="card-title">Josh Dun</h5>
                        <p class="card-text">Baterista</p>
                        <p>
                            Joshua William Dun.<br/>
                            18 de junio de 1988 (33 años).<br/>
                            Columbus, Ohio, Estados Unidos.<br/>
                            Músico y baterista.<br/>
                            Baterista de twenty one pilots.
                        </p>
                        <div class="icon-block"><a href="https://twitter.com/joshuadun"> <i class="fa fa-twitter"></i></a><a href="https://www.instagram.com/joshuadun/"> <i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
    		</div> 
    	</div>
    </div>
</div>