<div class="section">
    <h2>Servicios e interacciones</h2>
    <div class="container">
        <div class="row align-items-end">
            <!-- Tarjeta: Conciertos -->
            <div class="card" style="width: 16rem;">
                <img src="../../../assets/imágenes/top-concierto.jpg" class="card-img-top" alt="Tour">
                <div class="card-body">
                  <h5 class="card-title">Futuros Conciertos</h5>
                  <p class="card-text">
                    Conoce dónde se encontrarán los chicos en su próximo Tour presentado SAI.
                    Consulta zonas y formas de pago a sus conciertos.
                  </p>
                  <a href="https://www.twentyonepilots.com/tour" class="btn btn-color">Más Información</a>
                </div>
            </div>

            <!-- Tarjeta: Roblox -->
            <div class="card" style="width: 16rem;">
                <img src="../../../assets/imágenes/top-roblox.jpg" class="card-img-top" alt="Roblox">
                <div class="card-body">
                  <h5 class="card-title">Encuentro en Roblox</h5>
                  <p class="card-text">
                    Llegando al Metaverso de Roblox, se presenta la experiencia de concierto de TØP.
                    Busqueda del tesoro y armando rompecabezas en un mundo nuevo.
                  </p>
                  <a href="https://blog.roblox.com/es/2021/09/roblox-presenta-la-experiencia-musical-de-twenty-one-pilots/" class="btn btn-color">Más Información</a>
                </div>
            </div>

            <!-- Tarjeta: Twitch -->
            <div class="card" style="width: 16rem;">
                <img src="../../../assets/imágenes/top-twitch.jpg" class="card-img-top" alt="Twitch">
                <div class="card-body">
                  <h5 class="card-title">Streams en Twitch</h5>
                  <p class="card-text">
                      Acercándose las fechas navideñas, TØP trae consigo un stream en Twitch.
                      Forma parte de ella y ten un encuentro más cercano con los chicos.
                  </p>
                  <a href="https://www.twitch.tv/twentyonepilots?lang=es" class="btn btn-color">Más Información</a>
                </div>
            </div>

            <!-- Tarjeta: Experiencia Cinematográfica -->
            <div class="card" style="width: 16rem;">
                <img src="../../../assets/imágenes/top-cinema.jpg" class="card-img-top" alt="Cinema Experiencia">
                <div class="card-body">
                  <h5 class="card-title">Experiencia Cinematográfica</h5>
                  <p class="card-text">
                    Un viaje al interior de las mentes del dúo de Tyler y Josh.
                    Sonido y vídeo remasterizados para la gran pantalla, y material inédito.
                  </p>
                  <a href="https://www.cinepolis.com.ar/peliculas/twenty-one-pilots-cinema-experience" class="btn btn-color">Más Información</a>
                </div>
            </div>
        </div>
    </div>
</div>