<div class="section">
    <h2>Conoce más sobre su discografía:</h2>
    <div class="container">
        <div class="row">
            <h3>Álbums de estudio:</h3>
            <!-- Nombres de los Albums -->
            <div class="col-12">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">Twenty One Pilots</li>
                    <li class="list-group-item list-group-item-action">Regional At Best</li>
                    <li class="list-group-item list-group-item-action">Vessel</li>
                    <li class="list-group-item list-group-item-action">Blurryface</li>
                    <li class="list-group-item list-group-item-action">Trench</li>
                    <li class="list-group-item list-group-item-action">Scaled And Icy</li>
                </ul>
            </div>
        </div>

        <!-- Albums y Canciones -->
        <div class="row" >
            <div class="col-6" id="1">
                <h3>Twenty One Pilots</h3>
                <p>Publicado el 29 de diciembre de 2009.</p>
                <span class="badge bg-color rounded-pill">62:00min</span>
                <ol>
                    <li>Implicit Demand For Proof</li>
                    <li>Fall Away</li>
                    <li>The Pantaloon</li>
                    <li>Addict With A Pen</li>
                    <li>Friend, please</li>
                    <li>March To The Sea</li>
                    <li>Johnny Boy</li>
                    <li>Oh Ms. Believer</li>
                    <li>Air Catcher</li>
                    <li>Trapdoor</li>
                    <li>A Car, A Torch, A Death</li>
                    <li>Taxi Cab</li>
                    <li>Before You Start Your Day</li>
                    <li>Isle Of Flightless Birds</li>
                </ol>
            </div>
            <div class="col-6">
                <img class="img-thumbnail" src="../../../assets/imágenes/top-top.jpg" alt="TOP">
            </div>
            <div class="col-6" id="2">
                <h3>Regional At Best</h3>
                <p>Publicado el 8 de julio de 2011.</p>
                <span class="badge bg-color rounded-pill">68:38min</span>
                <ol>
                    <li>Guns for Hands</li>
                    <li>Holding on to You</li>
                    <li>Ode to Sleep</li>
                    <li>Showtown</li>
                    <li>Car Radio</li>
                    <li>Forest</li>
                    <li>Glowing Eyes</li>
                    <li>Kitchen Sink</li>
                    <li>Anathema</li>
                    <li>Lovely</li>
                    <li>Ruby</li>
                    <li>Trees</li>
                    <li>Be Concerned</li>
                    <li>Clear</li>
                </ol>
                <p>Bonus Tracks</p>
                <ol>
                    <li>House of Gold</li>
                    <li>Two</li>
                </ol>
            </div>
            <div class="col-6">
                <img class="img-thumbnail" src="../../../assets/imágenes/top-rab.jpg" alt="RAB">
            </div>
            <div class="col-6" id="3">
                <h3>Vessel</h3>
                <p>Publicado el 8 de enero de 2013.</p>
                <span class="badge bg-color rounded-pill">47:44min</span>
                <ol>
                    <li>Ode to Sleep</li>
                    <li>Holding on to You</li>
                    <li>Migraine</li>
                    <li>House of Gold</li>
                    <li>Car Radio</li>
                    <li>Semi-Automatic</li>
                    <li>Screen</li>
                    <li>The Run and Go</li>
                    <li>Fake You Out</li>
                    <li>Guns for Hands</li>
                    <li>Trees</li>
                    <li>Truce</li>
                </ol>
            </div>
            <div class="col-6">
                <img class="img-thumbnail" src="../../../assets/imágenes/top-vessel.jpg" alt="Vessel">
            </div>
            <div class="col-6" id="4">
                <h3>Blurryface</h3>
                <p>Publicado el 17 de mayo de 2015.</p>
                <span class="badge bg-color rounded-pill">52:17min</span>
                <ol>
                    <li>Heavydirtysoul</li>
                    <li>Stressed Out</li>
                    <li>Ride</li>
                    <li>Fairy Local</li>
                    <li>Tear in My Heart</li>
                    <li>Lane Boy</li>
                    <li>The Judge</li>
                    <li>Doubt</li>
                    <li>Polarize</li>
                    <li>We Don't Believe What's on TV</li>
                    <li>Message Man</li>
                    <li>Hometown</li>
                    <li>Not Today</li>
                    <li>Goner</li>
                </ol>
            </div>
            <div class="col-6">
                <img class="img-thumbnail" src="../../../assets/imágenes/top-blurryface.jpg" alt="Blurryface">
            </div>
            <div class="col-6" id="5">
                <h3>Trench</h3>
                <p>Publicado el 5 de octubre de 2018.</p>
                <span class="badge bg-color rounded-pill">56:06min</span>
                <ol>
                    <li>Jumpsuit</li>
                    <li>Levitate</li>
                    <li>Morph</li>
                    <li>MY Blood</li>
                    <li>Chlorine</li>
                    <li>Smithereens</li>
                    <li>Neon Gravestones</li>
                    <li>The Hype</li>
                    <li>Nico and the Niners</li>
                    <li>Cut My Lip</li>
                    <li>Bandito</li>
                    <li>Pet Cheetah</li>
                    <li>Legend</li>
                    <li>Leave The City</li>
                </ol>
            </div>
            <div class="col-6">
                <img class="img-thumbnail" src="../../../assets/imágenes/top-trench.jpg" alt="Trench">
            </div>
            <div class="col-6" id="6">
                <h3>Scaled And Icy</h3>
                <p>Publicado el 21 de mayo de 2021.</p>
                <span class="badge bg-color rounded-pill">37:42min</span>
                <ol>
                    <li>Good Day</li>
                    <li>Choker</li>
                    <li>Shy Away</li>
                    <li>The Outside</li>
                    <li>Saturday</li>
                    <li>Never Take It</li>
                    <li>Mulberry Street</li>
                    <li>Formidable</li>
                    <li>Bounce Man</li>
                    <li>No chances</li>
                    <li>Redecorate</li>
                </ol>
            </div>
            <div class="col-6">
                <img class="img-thumbnail" src="../../../assets/imágenes/top-sai.jpg" alt="SAI">
            </div>
        </div>
    </div>
</div>