<!-- Enlaces a sus redes sociales con íconos de las mismas -->
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" class="footer fixed-bottom">
    <div class="row no-gutters social-container">
        <div class="col"><a class="social-inner" href="https://www.facebook.com/twentyonepilots"><i class="fa fa-facebook"></i><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
        <div class="col"><a class="social-inner" href="https://www.instagram.com/twentyonepilots/"><i class="fa fa-instagram"></i><span class="icon mdi mdi-instagram"></span><span>Instagram</span></a></div>
        <div class="col"><a class="social-inner" href="https://twitter.com/twentyonepilots"><i class="fa fa-twitter"></i><span class="icon mdi mdi-twitter"></span><span>Twitter</span></a></div>
        <div class="col"><a class="social-inner" href="https://www.youtube.com/channel/UCBQZwaNPFfJ1gZ1fLZpAEGw"><i class="fa fa-youtube"></i><span class="icon mdi mdi-youtube-play"></span><span>YouTube</span></a></div>
    </div>
</footer>